<H1 class="page-title"> Gerenciar Agentes </H1>



<mat-form-field class="search-bar" appearance="outline">
  <mat-label>Pesquisar</mat-label>
  <input matInput [formControl]="searchAgent" placeholder="Nome do agente" />
  <mat-icon matPrefix class="std_gray">search</mat-icon>
</mat-form-field>

<div *ngIf="loadingAgents" class="loading-spinner">
  <mat-spinner diameter="80" strokeWidth="10" color="primary"></mat-spinner>
</div>

<div class="cards-container">
  <mat-card *ngFor="let agent of filteredAgents" class="cards" appearance="raised">

    <mat-card-header>
      <mat-card-title>{{agent.name }}, {{agent.age}} </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="content-container">

        <div class="user-avatar">
          <img *ngIf="agent.gender =='Masculino'" [src]="'../../../assets/soldado.jpeg'" alt="Foto do agente" />
          <img *ngIf="agent.gender =='Feminino'" [src]="'../../../assets/soldada.jpeg'" alt="Foto do agente" />
        </div>

        <!-- Informações do agente -->
        <div class="text-container">
          <!-- Categoria (Civil ou Militar) -->
          <div class="category">
            <mat-icon>badge</mat-icon> {{ agent.category }}
          </div>

            <div class="gender" *ngIf="agent.gender =='Masculino'">
              <mat-icon class="maleIcon" >male</mat-icon> {{ agent.gender }}
            </div>
            <div class="gender" *ngIf="agent.gender =='Feminino'">
              <mat-icon class="femaleIcon">female</mat-icon> {{ agent.gender }}
            </div>

          <!-- Posto ou Graduação -->
          <div *ngIf="agent.rank" class="rank">
            <mat-icon>military_tech</mat-icon> {{ agent.rank }}: {{ agent.unit }}
          </div>
          <!-- Botão de edição -->
          <div class="edit-icon">
            <button mat-icon-button color="accent" (click)="editAgent(agent)">
              <mat-icon>edit_document</mat-icon>
            </button>
          </div>
        </div>


      </div>
    </mat-card-content>
  </mat-card>

</div>

<div style="height: 60px;"></div>

<!-- Botão Flutuante no Canto Inferior Direito -->
<button mat-fab color="primary" class="floating-button" (click)="addAgent()">
  <mat-icon>add</mat-icon>
</button>
