
  <mat-drawer-container class="drawer-container">

    <mat-drawer #drawer class="drawer"  [mode]="drawerMode" >

        <div class="image-logo">
          <img  src="../../../assets/logoGK.png" alt="" />
          <p class="name-logo">Guard keeper</p>
        </div>


        <mat-button-toggle-group [formControl]="menuOptions" (change)="navigateTo()">

          <mat-button-toggle [checked]="selectedMenuOption == 1 ? true : false" value="menu/report">
            <mat-icon matPrefix >receipt_long</mat-icon>
            Relatórios
          </mat-button-toggle>

          <mat-button-toggle [checked]="selectedMenuOption == 2 ? true : false" value="menu/schedules">
            <mat-icon matPrefix >event_upcoming</mat-icon>
            Escalas
          </mat-button-toggle>

          <mat-button-toggle [checked]="selectedMenuOption == 3 ? true : false" value="menu/agents">
            <mat-icon matPrefix >admin_panel_settings</mat-icon>
            Agentes
          </mat-button-toggle>

          <mat-button-toggle [checked]="selectedMenuOption == 4 ? true : false" value="menu/places">
            <mat-icon matPrefix >home_work</mat-icon>
            Locais
          </mat-button-toggle>




        </mat-button-toggle-group>

    </mat-drawer>

    <mat-toolbar class="toolbar" color="accent">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>





      <div class="user-profile">
        <div class="user-avatar">
          <!---Insira a imagem do usuário aqui--->
          <img src="../../../assets/pessoa_icone.svg" alt="Imagem do usuário" />
        </div>
        <div class="user-info">
          <span >Luiz Fernando</span>
          <mat-icon [matMenuTriggerFor]="userMenu">arrow_drop_down</mat-icon>
        </div>
      </div>
    </mat-toolbar>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="deslogar()">Sair</button>
      <!-- <button mat-menu-item (click)="trocarSenha()">Alterar Senha</button> -->
    </mat-menu>

    <router-outlet></router-outlet>

  </mat-drawer-container>

