<div class="background">
  <div class="center-image-and-forms">

    <div class="image-logo">
      <img class="logo-clipei" src="../../../assets/logoGK.png" alt="" />
      <p class="name-logo">Guard keeper</p>
    </div>

    <form [formGroup]="loginForm" class="form-login" >

      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
        <mat-icon matSuffix class="std_gray">person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" placeholder="Senha"
        required="true" />
        <mat-icon matSuffix class="std_gray" (click)="changeHidePassword()">
          {{ hidePassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>

      <button routerLink="/menu" (click)="login()" mat-raised-button class="button-login" color="primary"
        [disabled]="!loginForm.valid">
        Entrar
      </button>

    </form>

  </div> <!-- center-image-and-forms -->

</div> <!-- background -->
